---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/Layout.astro";

const permalink = `${Astro.site?.href}/blog`;

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<Layout permalink={permalink} current="blog">
  <div class="container max-w-2xl mx-auto px-4">
    <main>
      <section aria-labelledby="blog-list">
        <h2 class="text-4xl font-medium mb-10">NXZ Blog</h2>
        <div class="divide-y divide-zinc-800 *:py-10">

        {posts.map((post, index) => {
          const href = `/blog/${post.id}`;
          return (
          <article class="group">
            <a class="block" href={href}>
              <h3
                class="font-bold text-2xl
                  group-hover:text-white group-hover:underline mb-1"
              >
                {post.data.title}
              </h3>
              <p class="text-sm italic text-zinc-400">
                <time datetime="2024-02-01"><FormattedDate date={post.data.publishDate} /></time>
                {post.data.readingTime && (
                  <>
                    <span class="text-zinc-500 mx-2"> &mdash;</span>
                    <span class="post-read-time text-sky-500 mb-4">{post.data.readingTime} mins read</span>
                  </>
                )}
              </p>

              <p class="text-lg text-zinc-300 mt-4">
                {post.data.description}
              </p>
            </a>

            <ul class="flex mt-4 gap-2 text-zinc-400 text-sm flex-wrap">
              {post.data.tags?.map((tag) => (
              <li class="bg-zinc-600/30 border border-zinc-700 px-3 py-[2px] rounded-full">
                  <a href={`/blog/tag/${tag.toLowerCase()}`}>{tag}</a>
              </li>
              ))}
            </ul>
          </article>);
          })
        }
        </div>
      </section>
    </main>
  </div>
</Layout>
