---
import Layout from "../layouts/Layout.astro";

const post = Astro.props;
---
<Layout>
<div class="py-20 sm:py-32 bg-[#0C1015]">
  <article class="container max-w-4xl mx-auto px-4">
    <header class="mb-16">
      <div class="text-sm text-teal-300 mb-6">
        <!-- {post.tags.map(tag => ( -->
          <span class="mr-3">adfg d</span> 
          <span class="mr-3">afgd</span>
        <!-- // ))} -->
      </div>
      <h1 class="text-4xl sm:text-5xl text-zinc-100 mb-6">{post.title}</h1>
      <div class="flex items-center text-zinc-400">
        <div class="flex items-center mr-8">
          <!-- <img src={post.author.image} alt={post.author.name} class="w-10 h-10 rounded-full mr-4" /> -->
          <div>
            <p class="text-sm">{post.author.name ?? "virkam"}</p>
            <p class="text-xs text-zinc-500">{post.author.role??"virkam"}</p>
          </div>
        </div>
        <div class="text-sm">
          <p>{post.date?? "sgffs g d"}</p>
          <p class="text-zinc-500">{post.readTime??"4 min"} read</p>
        </div>
      </div>
    </header>

    <div class="mb-16">
      <img src={post.image} alt={post.title} class="w-full h-auto rounded-2xl" />
    </div>

    <div class="prose prose-invert">
      <slot />
    </div>

    <div class="mt-16 pt-16 border-t border-zinc-800">
      <div class="flex flex-wrap gap-4">
        <a href="/blog" class="btn-secondary">
          <ArrowDiagonal class="rotate-180 w-4 h-4 mr-2" />
          Back to Blog
        </a>
        <div class="flex gap-4 ml-auto">
          <a href="#" class="text-zinc-400 hover:text-teal-300 transition-colors">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="text-zinc-400 hover:text-teal-300 transition-colors">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="#" class="text-zinc-400 hover:text-teal-300 transition-colors">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
      </div>
    </div>
  </article>
</div>
</Layout>