---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, publishDate, updatedDate, heroImage } = Astro.props;
---

<Layout>
  <div class="container max-w-3xl mx-auto px-4">
  <main>
    <article>
      <!-- <div class="hero-image">
        {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
      </div> -->
      <div class="">
          
        
        <!-- <h3 class="text-2xl mb-8 font-light text-zinc-300">{description}</h3> -->
        <div class="text-lg text-zinc-400 mb-2">
          <FormattedDate date={publishDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1 class=" text-3xl sm:text-4xl md:text-5xl font-bold">{title}</h1>
      </div>
      <hr class="text-zinc-800 my-6"/>

      <div class="prose prose-invert lg:prose-lg xl:prose-xl">
        
        <slot />
      </div>
    </article>
  </main>
</div>
</Layout>
